@media (min-width: 1300px)
{
.container {
    max-width: 1270px;
}
}


@media only screen and (min-width: 1200px) and (max-width:1299px){
.container
{
     max-width: 1200px; 
}
.top_middle_content h1
{
        font-size: 50px;
}
.home_title
{
        font-size: 40px;
}

.testi_carsual {
    padding-left: 0px;
}
.testi_data {
    padding-top: 0px;
}
.pro_txt {
    width: 380px;
}

.stsd_txt {
    width: 202px;
}
.full_txt {
    width: 212px;
}
.lt_txt {
    width: 183px;
}
.slider_video
{
        height: 300px;
}
.slider_video .image
{
        height: 100%;
}
.cost_caltulator h5
{
        font-size: 14px;
}
}





/*      Tablet Layout: 1024px.

        Gutters: 24px.

        Outer margins: 28px.

        Inherits styles from: Desktop Layout.

-----------------------------------------------------------------

cols    1     2      3      4      5      6      7      8

px      68    160    252    344    436    528    620    712    */


@media only screen and (min-width: 992px) and (max-width: 1199px){
.container
{
        max-width: 990px;
}

.top_middle_content h1
{
        font-size: 50px;
}
.home_title
{
        font-size: 40px;
}
.cient_logos img
{
        height: 55px;
}
.testimonial_slider .qautr_img
{
        position: relative;
}
.testi_carsual {
    padding-left: 0px;
}
.slider_main
{
            margin: 20px;
    padding: 20px;
        margin-bottom: 40px;
}
.testi_data
{
        position: relative;
}
.testimonial_slider .qautr_img
{
        position: relative;
}
.testi_main_content
{
        padding: 30px 0px;
        display: block;
}
.testimonial_slider {
    font-size: 18px;
}

.why_middle_content
{
        padding-left: 40px;
}
.email_sec li
{
        display: block;
}
.email_sec .list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
}
.testi_data {
    padding-top: 30px;
}
.image_price
{
        width: 130px;
         font-size: 18px;
}
.pro_txt {
    width: 315px;
}
.stsd_txt {
    width: 161px;
}
.full_txt {
    width: 170px;
}
.lt_txt {
    width: 141px;
}
.heghtchange
{
        width: 135px;
}

.cost_caltulator h5
{
        font-size: 11px;
}
.slider_video
{
        height: 300px;
}
.slider_video .image
{
        height: 100%;
}
}




/*      Tablet Layout: 768px.

        Gutters: 24px.

        Outer margins: 28px.

        Inherits styles from: Default Layout.

-----------------------------------------------------------------

cols    1     2      3      4      5      6      7      8

px      68    160    252    344    436    528    620    712    */


@media only screen and (min-width: 768px) and (max-width: 991px) {

.container
{
        max-width: 760px;
}
.top_middle_content h1
{
        font-size: 40px;
}
.video_sec
{
        height: 400px;
}
.home_title
{
        font-size: 35px;
}
.painless h3
{
        font-size: 20px;
}
.exceptionally {
    padding-top: 0px;
    padding-bottom: 100px;
}
.cient_logos img
{
            height: 45px;
}
.cient_logos .list-inline-item:not(:last-child) {
    margin-right: 25px;
}
.testi_carsual {
    padding-left: 0px;
}
.slider_main
{
            margin: 20px;
    padding: 20px;
        margin-bottom: 40px;
}
.testi_data
{
        position: relative;
}
.testimonial_slider .qautr_img
{
        position: relative;
}
.testi_main_content
{
        padding: 30px 0px;
        display: block;
}
.testimonial_slider {
    font-size: 18px;
}

.why_choose {
    margin-top: 100px;
}
.dashbard_sec
{
        position: relative;
        width: 100%;
        padding-left: 20%;
}
.stretch
{
        left: 13%;
}
.box_line
{
        display: none;
}
.form-control
{
        width: 210px;
}
.email_sec li
{
        display: block;
}
.email_sec .list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
}
.testi_data {
    padding-top: 30px;
}
.exceptionally h3
{
        font-size: 20px;
}
.image_price
{
         width: 220px;

              
}
.pro_txt {
    width: 238px;
}
.stsd_txt {
    width: 119px;
}
.full_txt {
    width: 129px;
}
.lt_txt {
    width: 96px;
}
.right_data_height
{
        min-height: 100%;
}
.slider_video
{
       
}
.slider_video .image
{
        height: 100%;
}
}








/*      Mobile Layout: 320px.

        Gutters: 24px.

        Outer margins: 34px.

        Inherits styles from: Default Layout.

---------------------------------------------

cols    1     2      3

px      68    160    252    */



@media only screen and (max-width: 767px) {
.logo
{
        width: 120px;
}
.testi_data {
    padding-top: 30px;
}
.exceptionally h3
{
        font-size: 20px;
}
header
{
        padding: 20px 0px;
}
.top_middle_content h1
{
        font-size: 30px;
}

.top_middle_content ul li 
{
       
}
.top_middle_content ul .list-inline-item:not(:last-child) {
    margin-right: 5px;
}
.top_middle_content ul li .btn
{
          min-width: 164px;
    font-size: 10px;
    padding: 12px 16px;

}
.cost_caltulator .form-control
{

}
.testimonial_slider .qautr_img {
    width: 25px!important;
}

.video_sec
{
        height: 230px;
}
.play_btn_sec
{
        width: 48px;
        height: 48px;
        top: calc(50% - 24px);
}
.home_top_sec:before
{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.frame2
{
        display: none;
}

.play_btn_sec img
{
        width: 15px;
}
.top_middle_content
{
        padding-top: 35px;
}

.home_top_sec
{
        padding-bottom: 30px;
}
.my-100 {
    margin: 50px 0px;
}
.home_title
{
        font-size: 30px;
}
.mt-65
{
        margin-top: 45px;
}

.exceptionally
{
        padding-top: 0px;
              padding-bottom: 50px;
}
.cost_caltulator
{
        padding: 50px 0px;
}
.right_data_height
{
        min-height: auto;
}
.cost_caltulator h5
{
        font-size: 8px;
}
.cost_caltulator h5 img
{
width: 8px;
margin-right: 2px;
}
.outstanding {
    margin-top: 50px;
}

.cient_logos li
{
          width: 49%;
    text-align: center;
}
.cient_logos .list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 60px;
}
.cient_logos .list-inline-item:nth-last-child(1) {
    margin-right: 0px;
    margin-bottom: 0px;
}
.cient_logos .list-inline-item:nth-last-child(2) {
    margin-right: 0px;
    margin-bottom: 0px;
}
.table td, .table th
{
            width: 33%;
}

.compare .table thead th
{
        font-size: 20px;
}
.testi_carsual {
    padding-left: 0px;
}
.slider_main
{
            margin: 20px;
    padding: 20px;
        margin-bottom: 40px;
}
.testi_data
{
        position: relative;
}
.testimonial_slider .qautr_img
{
        position: relative;
}
.testi_main_content
{
        padding: 30px 0px;
        display: block;
}
.testimonial_slider {
    font-size: 18px;
}
.owl-prev
{
     width: 50px!important;
    height: 50px!important;
  
}
.owl-next
{
          width: 50px!important;
    height: 50px!important;
}


 .why_choose {
    margin-top: 50px;
}
.dashbard_sec
{
        position: relative;
            width: 100%;
    padding-left: 20%;
}
.stretch
{
        width: 70px;
            left: 12%;
}
.copy
{
        width: 70px;
}
.why_middle_content {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.why_middle_content ul li 
{
       
}
.why_middle_content ul li .btn {
         min-width: 140px;
    font-size: 9px;
    padding: 12px 10px;
}
.form-control
{
            width: 200px;
}
.popform .form-group {
    margin-bottom: 10px;
}
.newsletter_form
{
        padding: 30px 0px;
            border-bottom: 1px solid #3A3E46;
}
.email_sec a img
{
        display: block;
        margin-bottom: 5px;
}
.email_sec .list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
}
.email_sec li
{
        display: block;

}
.email_sec a
{
        font-size: 14px;
}
.box_line
{
        display: none;
}
input[type="range"]
{
        width: 100%;
}
output
{
        text-align: center;
        left: 0px;
        display: block;
}
.image_price {
 
     
    font-size: 16px;
    width: 100px;
   
}
.popform h2
{
            font-size: 20px;
    line-height: 30px;
}
.modal-content
{
        padding: 25px;
}
.modal-body
{
       padding: 0px;
       padding-top: 20px;
}
.popform .form-control
{
            padding: 8px 12px;
}
.fixed_section
{
        display: none;
}
.heghtchange
{
        width: 90px;
}

.slider_video .image
{
        height: 100%;
}

}








/*      Wide Mobile Layout: 480px.

        Gutters: 24px.

        Outer margins: 22px.

        Inherits styles from: Default Layout, Mobile Layout.

------------------------------------------------------------

cols    1     2      3      4      5

px      68    160    252    344    436    */



@media only screen and (min-width: 480px) and (max-width: 767px) {
.image_price {
   
    width: 155px;
}
}
